<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="map-control-mouseposition-css" rel="stylesheet"
	href="../static/css/extension/layer/mouseposition/geodir-mouseposition.css"
	th:href="@{/css/extension/layer/mouseposition/geodir-mouseposition.css}" />

<script th:fragment="map-control-mouseposition-js" type="text/javascript" charset="utf8"
	src="/static/js/extension/layer/mouseposition/geodir-mouseposition.js"
	data-th-src="@{/js/extension/layer/mouseposition/geodir-mouseposition.js}"></script>
</head>
<body>

</body>
</html>