<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="map-control-geolocation-css" rel="stylesheet"
	href="../static/css/extension/layer/geolocation/geodir-geolocation.css"
	th:href="@{/css/extension/layer/geolocation/geodir-geolocation.css}" />

<script th:fragment="map-control-geolocation-js" type="text/javascript" charset="utf8"
	src="/static/js/extension/layer/geolocation/geodir-geolocation.js"
	data-th-src="@{/js/extension/layer/geolocation/geodir-geolocation.js}"></script>
</head>
<body>

</body>
</html>