<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="map-control-history-css" rel="stylesheet"
	href="../css/extension/layer/fullscreen/Control.FullScreen.css"
	th:href="@{/css/extension/layer/history/leaflet-history-src.css}" />

<script th:fragment="map-control-history-js" type="text/javascript" charset="utf8"
	src="../static/js/extension/layer/history/leaflet-history-src.js"
	data-th-src="@{/js/extension/layer/history/leaflet-history-src.js}"></script>
</head>
<body>

</body>
</html>