<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="map-control-fullscreen-css" rel="stylesheet"
	href="../static/css/extension/layer/fullscreen/Control.FullScreen.css"
	th:href="@{/css/extension/layer/fullscreen/Control.FullScreen.css}" />

<script th:fragment="map-control-fullscreen-js" type="text/javascript" charset="utf8"
	src="/static/js/extension/layer/fullscreen/Control.FullScreen.js"
	data-th-src="@{/js/extension/layer/fullscreen/Control.FullScreen.js}"></script>
</head>
<body>

</body>
</html>