<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="map-control-distance-css" rel="stylesheet"
	href="../static/js/extension/layer/distance/leaflet.measurecontrol.css"
	th:href="@{/js/extension/layer/distance/leaflet.measurecontrol.css}" />

<script th:fragment="map-control-distance-js" type="text/javascript"
	charset="utf8"
	src="/static/js/js/extension/layer/distance/leaflet.measurecontrol.js"
	data-th-src="@{/js/extension/layer/distance/leaflet.measurecontrol.js}"></script>
</head>
<body>

</body>
</html>