.leaflet-container .leaflet-control-mouseposition {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #bbb;
	padding: 5px 5px;
	margin: 0;
	color: #f5f4f4;
}

.leaflet-container .leaflet-control-mouseposition-text {
	color: black;
	float: right;
	margin: 8px 8px;
}

.leaflet-control-mouseposition .btn_mouse {
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}