.container{
	padding:5px !important;
	padding-left:10px !important;
}

.modal-dialog-geodir-add-layer{
	max-width:100% !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    background: #f9fafb !important;
}

.table{
	margin-top: 20px !important;
}
.table th, .table td {
padding: 0.75rem 2rem !important;
vertical-align: top !important;
white-space: nowrap !important;
font-size: 13px !important;
border: 1px solid rgba(34,36,38,.1) !important;
}

tbody tr:hover {
background-color: #e8f3fa !important;
}

.styleCapa {
	padding: 0.3em 0.8em !important;
margin-bottom: 8px !important;
background: #fff !important;
border-radius: .4em !important;
color:#000 !important;
border-color:#ccc !important;

}
.styleAction {
	border:0px !important;
    background: #fff !important;
    padding: 0.5em !important;
}


.styleCapa:hover {
border-color: #000 !important;
color:#000 !important;
background: #fffeda !important;
}
.styleCapa:hover  .styleAction{
background: #fffeda !important;	
cursor:pointer !important;


   }
 .styleCapa.active {
border-color: #000 !important;
color:#000 !important;
background: #fffeda !important;
}
.styleCapa.active .styleAction{
cursor:pointer !important;
background: #fffeda !important;
border-color: #fffeda !important;
box-shadow: 0 0 0 2px #fffeda !important;
   } 

.styleCapa:focus {
border-color: #000 !important;
color:#000 !important;
background: #fffeda !important;
}

 
 .styleCapa:focus   .styleAction {
cursor:pointer !important;
background: #fffeda !important;
border-color: #fffeda !important;
box-shadow: 0 0 0 2px #fffeda !important;
   }

.drowstyle{
 min-width: 8em !important;
font-size: 75% !important;
padding: 3px 0.1em !important;
top: 80% !important;
}

.sizescroll{
	height: 400px;
	overflow-y: scroll;
    width: 300%;
}  
  
.addFilter{
 min-width: 8em !important;
font-size: 75% !important;
padding: 3px 0.1em !important;
top: 80% !important;
overflow: scroll;
height: 830px;
max-width: 350px;
  }
 
.dropdown-item {
padding: 0.3em 0.7em !important;
}
    
.layers{
	width:20px;
}


.imgMostrar{
  width:28px !important;
  height: 28px !important;
  background: url('../images/extension/layer/mostrar.svg');
 
} 
  
.imgOcultar{
  width:28px !important;
  height: 28px !important;
  background: url('../images/extension/layer/ocultar.svg');

} 
.modal{
	z-index: 100000 !important;
}
.sizeModal{
	height: 720px !important;
    overflow-x: auto !important;
    overflow-y: scroll !important;
}

.tabs-modal{
	border: none !important;
    border-bottom: 2px solid #ccc !important;
    font-size: 1.2em;
    font-weight: 600;
    color: #ccc !important;
}

.tabs-modal.active{
	border: none !important;
    border-bottom: 2px solid #000 !important;
    font-size: 1.2em;
    font-weight: 600;
    color: #000 !important;
}

 @media only screen and (max-width: 1366px){

.sizeModal{
	height: 450px !important;
}
.addFilter{
top: 80% !important;
overflow: scroll;
height: 525px;
max-width: 325px;
  }
}

/*---------------------------------------
MINIFICHA
---------------------------------------*/
.atributo{
	color: #8e9397!important;
}
.valor{
	color: #62696e!important;
	font-weight: bold;
}
.carousel-control-prev span:before {
	    font-weight: bold !important;
}

.carousel-control-next span:before{
       font-weight: bold !important;
}
.carousel-indicators li{
   background-color: #ccc;
}
.carousel-indicators .active {
    background-color: #000;
}






/*--------------------styles input checkbox--------------------*/


/* input[type=checkbox] {
  transform: scale(0.8);

}

  input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 15px;
}


input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left:10px;
    padding-bottom:20px;
    color:#00a1df;
    width:20px;
    height:20px;
    visibility: visible;
    border:1px solid #00a1df;
    padding-left:3px;
    border-radius:5px;
}
input[type=checkbox]:checked:after {
    content: "\2714";
      padding:-5px;
} */
 /*-------------------- FIN styles input checkbox--------------------*/  
  
  
  
  
  
  

  

  
  