.leaflet-control-legend .legend-container{
	position:relative;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	padding: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	z-index:1000;	
	width: 200px;	
}
.leaflet-control-legend .leaflet-legend{
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:1000;	
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	margin-left: 10px;
	margin-top: 10px;
}

.leaflet-control-legend .legend-button{
	display:block;
	float:left;
	width:35px;
	height:35px;	
	background: url('../../../../images/extension/layer/legend/layers.png') #fff;
	border-radius:4px;
}

.leaflet-control-legend  .legend-title{
	color: black;
}

.leaflet-control-legend  .gotoXY-div{
	color: black;
}


.leaflet-control-legend .legend-items-content{
	max-height: 200px;
    overflow-x: hidden;
}

.leaflet-control-legend  .legend-close{
	display:block;
	width:22px;
	height:18px;
	position:absolute;
	right:27px;
	margin: -18px;
	background: url('../../../../images/extension/layer/legend/search-icon.png') no-repeat 0 -46px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;
	
}    
.leaflet-control-legend .legend-item{
  
}
.leaflet-control-legend .legend-items{
	
}

.leaflet-control-legend .legend-image{
	margin-top: 5px;
    width: 100%;
    align-content: cemter;
}



